@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-vdgb {
    background-color: hsl(217, 19%, 35%);
}

.bg-ddb {
    background-color: hsl(214, 17%, 51%);
}

.bg-gb {
    background-color: hsl(212, 23%, 69%);
}

.bg-lgb {
    background-color: hsl(210, 46%, 95%);
}
.manrope-font {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }